.DS_Store

Thumbs.db
/fsh-generated
/fsh-generated-renamed
/input-cache
/output
/temp
/template
/example-backup
/backup
/translations
/input/intro-notes/chat-logs/
/input/intro-notes/JP_FamilyMemberHistory_BirthOrder-notes.md


# for Emacs
*~
*#

\#*
.\#*

# for vscode
/.vscode
.index.json
.index.db

