id: hl7.fhir.jp.core
canonical: http://jpfhir.jp/fhir/core
name: "FHIRJPCoreImplementationGuide"
title: "HL7 FHIR JP Core ImplementationGuide"
description: "日本医療情報学会(JAMI) NeXEHRS課題研究会「HL7®FHIR® 日本実装検討WG」で作成した日本国内におけるベースとなるJP Core実装ガイドのドラフトVer.1.1 です。"
status: draft # draft | active | retired | unknown
version: 1.1.0a
date: 2022-04-01
fhirVersion: 4.0.6
copyrightYear: 2022+
releaseLabel: ci-build # ci-build | draft | qa-preview | ballot | trial-use | release | update | normative+trial-use
publisher:
  name: FHIR Japanese implementation research working group in Japan Association of Medical Informatics (JAMI)
  url: http://jpfhir.jp
  email: office@hlfhir.jp
copyright: FHIR Japanese implementation research working group in Japan Association of Medical Informatics (JAMI)
jurisdiction: 'urn:iso:std:iso:3166#JP'

#-----------------------------------------
# ページタイトル名称設定
#-----------------------------------------
pages:
  index.md:
    title: HL7 FHIR JP Core 実装ガイド ＜ Draft Ver1.1 ＞
  guidance.md:
    title: ガイダンス
    guide-general.md:
      title: 総合ガイダンス
    guide-mustSupportCardinality.md:
      title: Must SupportとCardinality(多重度)のルール
    guide-handlingOfNonExistentData.md:
      title: 欠損値（データが存在しない場合）の扱い
    guide-characterEncoding.md:
      title: 文字コード
    guide-stringSearch.md:
      title: 検索
  group-fhircontents.md:
    title: FHIR Contents List
    group-administration.md:
      title: Administration Group
    group-medication.md:
      title: Medication Group
    group-diagnostic.md:
      title: Diagnostic Group
    group-clinical.md:
      title: Clinical Group
    group-capabilityStatement.md:
      title: CapabilityStatement
    group-searchParameter.md:
      title: Search Parameter
  security.md:
    title: セキュリティ
  download.md:
    title: ダウンロード

#-----------------------------------------
# メニュー設定
#-----------------------------------------
menu:
  FHIRJP: index.html
  Guidances: 
    総合ガイダンス: guide-general.html
    MustSupportとCardinality: guide-mustSupportCardinality.html
    欠損値の扱い: guide-handlingOfNonExistentData.html
    文字コード: guide-characterEncoding.html
    文字列検索: guide-stringSearch.html
  FHIRContents: 
    Administration: group-administration.html
    Medication: group-medication.html
    Diagnostic: group-diagnostic.html
    Clinical: group-clinical.html
  Security: security.html
  Artifacts: artifacts.html
  Download: download.html

#-----------------------------------------
# IG 外部パラメータ設定
#-----------------------------------------
parameters:  # see https://confluence.hl7.org/display/FHIR/Implementation+Guide+Parameters
  path-resource:
    - input/resources
    - fsh-generated/resources
  path-pages:
    - input/pagecontent
    - input/intro-notes
    - fsh-generated/includes
    #- input/summaries
  path-expansion-params: '../../input/_resources/exp-params.json'
  active-tables: 'false'
  apply-version: 'true'
  apply-copyright: 'true'
  apply-publisher: 'true'
  apply-contact: 'true'
  apply-licese: 'true'
  apply-jurisdiction: 'true'
  show-inherited-invariants: 'true'
  usage-stats-opt-out: 'true'
  excludexml: 'false'
  excludejsn: 'false'
  excludettl: 'true'
  excludemap: 'true'
  excludeexample: 'true'
  generate: #what does this do - todo: remove and see
    - xml
    - json
  special-url:
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_AllergyIntolerance
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_Condition
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_Coverage
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_DiagnosticReport_Common
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_DiagnosticReport_LabResult
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_DiagnosticReport_Radiology
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_Encounter
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_HumanName
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_ImagingStudy_Radiology
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_Location
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_Medication
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_MedicationAdministration_Injection
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_MedicationAdministration
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_MedicationDispense_Injection
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_MedicationDispense
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_MedicationDispenseBase
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_MedicationRequest_Injection
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_MedicationRequest
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_MedicationRequestBase
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_Observation_BodyMeasurement
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_Observation_Common
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_Observation_LabResult
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_Observation_PhysicalExam
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_Observation_SocialHistory
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_Observation_VitalSigns
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_Organization
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_Patient
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_Practitioner
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_PractitionerRole
    - http://jpfhir.jp/fhir/core/StructureDefinition/JP_Procedure
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_Coverage_InsuredPersonNumber
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_Coverage_InsuredPersonSubNumber
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_Coverage_InsuredPersonSymbol
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_Medication_Ingredient_DrugNo
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_Medication_IngredientStrength_StrengthType
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_MedicationAdministration_Dosage_DosageComment
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_MedicationAdministration_Dosage_LineComment
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_MedicationAdministration_DosageMethod_MethodComment
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_MedicationAdministration_DosageRate_RateComment
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_MedicationAdministration_DosageRoute_RouteComment
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_MedicationAdministration_DosageSite_SiteComment
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_MedicationAdministration_Location
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_MedicationAdministration_RequestAuthoredOn
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_MedicationAdministration_RequestDepartment
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_MedicationAdministration_Requester
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_MedicationAdministration_UncategorizedComment
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_MedicationDispense_Preparation
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_MedicationRequest_DispenseRequest_ExpectedRepeatCount
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_MedicationRequest_DispenseRequest_InstructionForDispense
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_MedicationRequest_DosageInstruction_Device
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_MedicationRequest_DosageInstruction_Line
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_MedicationRequest_DosageInstruction_PeriodOfUse
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_MedicationRequest_DosageInstruction_UsageDuration
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_Observation_BodySite_BodySitePosition
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_Organization_InsuranceOrganizationCategory
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_Organization_InsuranceOrganizationNo
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_Organization_PrefectureNo
    - http://jpfhir.jp/fhir/core/Extension/StructureDefinition/JP_Patient_Race
    - http://jpfhir.jp/fhir/core/CapabilityStatement/JP_Client_CapabilityStatement
    - http://jpfhir.jp/fhir/core/CapabilityStatement/JP_Server_CapabilityStatement
    - http://jpfhir.jp/fhir/core/SearchParameter/JP_Coverage_InsuredPersonNumber_SP
    - http://jpfhir.jp/fhir/core/SearchParameter/JP_Coverage_InsuredPersonSubNumber_SP
    - http://jpfhir.jp/fhir/core/SearchParameter/JP_Coverage_InsuredPersonSymbol_SP
    - http://jpfhir.jp/fhir/core/SearchParameter/JP_Observation_BodySitePosition_SP
    - http://jpfhir.jp/fhir/core/SearchParameter/JP_Organization_InsuranceOrganizationCategory_SP
    - http://jpfhir.jp/fhir/core/SearchParameter/JP_Organization_InsuranceOrganizationNo_SP
    - http://jpfhir.jp/fhir/core/SearchParameter/JP_Organization_PrefectureNo_SP
    - http://jpfhir.jp/fhir/core/SearchParameter/JP_Patient_KanaName_SP
    - http://jpfhir.jp/fhir/core/SearchParameter/JP_Patient_KanjiName_SP
    - http://jpfhir.jp/fhir/core/SearchParameter/JP_Patient_Race_SP
    
#  logging:
#    - init
#    - progress
#    - context
#    - html
#    - tx
    
