#segment-footer > 
.container {background-color: #0F9DAA;}
.navbar-inverse {background-color: #0F9DAA;}

table.colsd td {
    background-color: #F9FFE6;
}

img[title="Japan"] 
{
    border:1px solid #888888;
}