name: JPCore FHIR Task

on:
  push:
    branches: 
      - 'feature/swg1-CodeSystem修正'
    paths:
      - 'sushi-config.yaml'
      - 'input/**'
      - '.github/workflows/**'
jobs:
  turn:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.0']
    steps:
    - uses: actions/checkout@v2

    - name: Extract branch name
      run: |
        if ["${{ github.event.pull_request.head.ref }}" == ""]; then
          echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
          echo "##[set-output name=branch_group;]$(echo ${GITHUB_REF#refs/heads/})"
        else
          echo "##[set-output name=branch;]$(echo ${{ github.event.pull_request.head.ref }})"
          echo "##[set-output name=branch_group;]$(echo 'pullrequest')"
        fi
      id: extract_branch
    
    - name: Extract last commit date
      shell: bash
      run: |
        echo "##[set-output name=date;]$(git log -1 --format="%at" | xargs -I{} date -d @{})"   
      id: extract_date

    - uses: bluwy/substitute-string-action@v1
      id: substitute_index
      with:
        _input-file: input/landing_page/_index.yml
        _format-key: '%%key%%'
        group: ${{ steps.extract_branch.outputs.branch_group }}
        branch: ${{ steps.extract_branch.outputs.branch }}
        date: ${{ steps.extract_date.outputs.date }}
        actor: ${{ github.actor }}
        pullrequest_url: ${{ github.event.pull_request.html_url }}
        pullrequest_title: ${{ github.event.pull_request.title }}
        _output-file: input/landing_page/_index.yml

    - name: Setup npm
      uses: actions/setup-node@v2
      with: 
        check-latest: true

    - name: Setup Sushi
      run: |
        sudo npm install -g fsh-sushi

    - name: Install Jekyll
      run: |
        sudo apt-get install jekyll
    
    - name: Download Japanese translated version of hl7.fhir.core package
      uses: wei/wget@v1
      with:
        args:  https://jpfhir.jp/fhir/hl7.fhir.r4.core-4.0.1.tgz

    - name: Arranging hl7.fhir.core package packages
      env:
        PACKAGECORE: hl7.fhir.r4.core#4.0.1
      run: | 
        mv hl7.fhir.r4.core-4.0.1.tgz  $PACKAGECORE.tgz
        mkdir -p /home/runner/.fhir
        mkdir -p  /home/runner/.fhir/packages
        mkdir -p  /home/runner/.fhir/packages/$PACKAGECORE
        : # local cache にpackage をcopyして展開する
        cp $PACKAGECORE.tgz /home/runner/.fhir/packages/$PACKAGECORE/$PACKAGECORE.tgz
        tar xzf /home/runner/.fhir/packages/$PACKAGECORE/$PACKAGECORE.tgz -C /home/runner/.fhir/packages/$PACKAGECORE/

    - name: Download IG Publisher
      uses: Legion2/download-release-action@v2.1.0
      with:
        repository: HL7/fhir-ig-publisher
        tag: '1.2.6'
        path: .
        file: publisher.jar
   
    - name: Run IG Publisher
      run: | 
        mkdir input-cache
        mv publisher.jar ./input-cache/publisher.jar
        unset DISPLAY
        java  -Xmx4G -Djava.awt.headless=true -jar ./input-cache/publisher.jar -ig ig.ini -tx https://tx.jpfhir.jp:8081
        mv ./input/landing_page/_index.yml ./output/

    - name: Deploy Implementation Guide
      if: success()
      uses: peaceiris/actions-gh-pages@v3
      with:
        personal_token: ${{ secrets.PERSONAL_TOKEN }}
        external_repository: jami-fhir-jp-wg/jp-core-v1xpages
        publish_branch: pages
        publish_dir: ./output
        destination_dir: ./jpcore-r4/${{ steps.extract_branch.outputs.branch }}

    - name: STEP1 = ssh key generate  for copying all IG files to public JAMI WG Web site 
      run: 
        echo "$SSH_PRIVATE_KEY" > key && chmod 600 key
      env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY_TO_JPFHIR }}
    - name: STEP2 = rsync remote-site-deploy
      run: 
        rsync -auzrvl -e "ssh -i key -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -p 8022" --delete ./output ./fsh-generated r2217734@www41.onamae.ne.jp:/home/r2217734/public_html/jpfhir.jp/fhir/core/V1B/ --exclude .htaccess
        ssh -i key  -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -p 8022 r2217734@www41.onamae.ne.jp  mv /home/r2217734/public_html/jpfhir.jp/fhir/core/V1B/output/* /home/r2217734/public_html/jpfhir.jp/fhir/core/V1B/
    
    - name: creating package and upload 
      run: 
        mkdir -p forPackageRelease/package
        cp forPackageRelease/package.json package/
        cp fsh-generated/resources/*.json forPackageRelease/package/
        cd forPackageRelease
        gtar czf package.tgz package
        rsync -auzrvl -e "ssh -i key -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -p 8022" --delete ./forPackageRelease/package.tgz r2217734@www41.onamae.ne.jp:/home/r2217734/public_html/jpfhir.jp/fhir/core/V1B/
        ssh -i key  -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -p 8022 r2217734@www41.onamae.ne.jp  mv /home/r2217734/public_html/jpfhir.jp/fhir/core/V1B/forPackageRelease/package.tgz /home/r2217734/public_html/jpfhir.jp/fhir/core/V1B/package.tgz
        ssh -i key  -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -p 8022 r2217734@www41.onamae.ne.jp  rm -rf /home/r2217734/public_html/jpfhir.jp/fhir/core/V1B/forPackageRelease
        

