name: JPCore FHIR main Task
on:
  push:
    branches: 
      - 'main'
      - 'hotfix/**'
    paths:
      - 'sushi-config.yaml'
      - 'input/**'
      - '.github/workflows/main.yaml'
  pull_request:
    branches:
      - 'main'
env:
  release_version : 1.2.0a
jobs:
  turn:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.0']
    environment: SSH_PORT_JPFHIR  # JAMI WG アップロードサイトに関するアクセス情報の環境名
    steps:
    - uses: actions/checkout@v4

    - name: Extract branch name
      run: |
        if ["${{ github.event.pull_request.head.ref }}" == ""]; then
          echo "branch=$(echo ${GITHUB_REF#refs/heads/})" >> $GITHUB_OUTPUT
          echo "branch_group=$(echo ${GITHUB_REF#refs/heads/})" >> $GITHUB_OUTPUT
        else
          echo "branch=$(echo ${{ github.event.pull_request.head.ref }})" >> $GITHUB_OUTPUT
          echo "branch_group=$(echo 'pullrequest')" >> $GITHUB_OUTPUT
        fi
      id: extract_branch
    
    - name: Extract last commit date
      shell: bash
      run: |
        echo "date=$(git log -1 --format="%at" | xargs -I{} date -d @{})" >> $GITHUB_OUTPUT
        title_temp=$(echo ${{ github.event.pull_request.title }} | sed 's/\[/【/g; s/\]/】/g; s/\:/：/g; s/\-/－/g')
        echo "encoded_pullrequest_title=$title_temp" >> $GITHUB_ENV
      id: extract_date

    - uses: bluwy/substitute-string-action@v1
      id: substitute_index
      with:
        _input-file: input/landing_page/_index.yml
        _format-key: '%%key%%'
        group: ${{ steps.extract_branch.outputs.branch_group }}
        branch: ${{ steps.extract_branch.outputs.branch }}
        date: ${{ steps.extract_date.outputs.date }}
        actor: ${{ github.actor }}
        pullrequest_url: ${{ github.event.pull_request.html_url }}
        pullrequest_title: ${{ env.encoded_pullrequest_title }}
        _output-file: input/landing_page/_index.yml

    - name: Setup npm
      uses: actions/setup-node@v4
      with: 
        check-latest: true

    - name: Setup Sushi
      run: |
        sudo npm install -g fsh-sushi

    - name: Install Jekyll
      run: |
        sudo apt-get install jekyll
    
    - name: Download IG Publisher
      uses: Legion2/download-release-action@v2.1.0
      with:
        repository: HL7/fhir-ig-publisher
        tag: '1.8.4'
        path: .
        file: publisher.jar
        
    - name: Download the file
      uses: suisei-cn/actions-download-file@v1.6.0
      id: downloadfile1
      with:
        url: "https://jpfhir.jp/fhir/fhir_dotFHIR_packages.tgz"
        target: .
  
    - name: Download the file
      uses: suisei-cn/actions-download-file@v1.6.0
      id: downloadfile2
      with:
        url: "https://jpfhir.jp/fhir/core/terminology/jpfhir-terminology.r4-1.3.0.tgz"
        target: .    
      
    - name: Prepare for using all dependent packages including Jp modified version of hl7.fhir.r4.core Package 
      env:
        JPPACKAGECOREtgz: fhir_dotFHIR_packages.tgz
        JPTerminologyCOREdir: jpfhir-terminology.r4#1.3.0
        JPTerminologyCOREPtgz: jpfhir-terminology.r4-1.3.0.tgz
      run: |
        mkdir -p /home/runner/.fhir
        mv $JPPACKAGECOREtgz /home/runner/.fhir/
        mkdir -p /home/runner/.fhir/work
        mv $JPTerminologyCOREPtgz /home/runner/.fhir/work/$JPTerminologyCOREPtgz
        cd /home/runner/.fhir
        tar xzf $JPPACKAGECOREtgz
        cd /home/runner/.fhir/work
        tar xzf $JPTerminologyCOREPtgz
        cd /home/runner/.fhir
        mkdir -p packages/$JPTerminologyCOREdir
        mv /home/runner/.fhir/work/package /home/runner/.fhir/packages/$JPTerminologyCOREdir

    - name: apply the version of sushi-config.yaml
      run: |
        sed -i 's/version: 1.2.0-temp/version: ${{ env.release_version }}/g' sushi-config.yaml
        
    - name: Run IG Publisher
      run: | 
        mkdir input-cache
        mv publisher.jar ./input-cache/publisher.jar
        unset DISPLAY
        java -Xmx12G -Duser.language=ja -Duser.country=JP -Djava.awt.headless=true -jar ./input-cache/publisher.jar -ig ig.ini -tx n/a
        mv ./input/landing_page/_index.yml ./output/


    - name: replace url of html files referring simplifier.net package
      run:  |
        : # https://simplifier.net/resolve?scope=jp-core.r4@1.1.1-snap&amp;canonical=http://jpfhir.jp/fhir/core/StructureDefinition/JP_Observation_Common"
        : #   ↓
        : # https://jpfhir.jp/fhir/core/1.1.1/StructureDefinition-jp-observation-common.html
        : # https://simplifier.net/resolve?canonical=http%3A%2F%2Fjpfhir.jp%2Ffhir%2Fcore%2FValueSet%2FJP_MedicationSubstitutionNotAllowedReason_VS&scope=jpfhir-terminology@1.1.1
        cd output
        for file in *.html
        do
          python ../script/replaceUrls.py $file >$file".2.html"
          mv $file".2.html" $file
        done
        cd ..

    - name: make symbolic link from canonical url to local file
      run: | 
        ruby ./script/create_symbolic_link_from_file2url.rb
        cat makeSymbolicLink.bash
        cd output
        source ../makeSymbolicLink.bash
        ls -l
        cd ..
        tar czf output.tgz output
  
    - name: STEP1 = ssh key generate  for copying all IG files to public JAMI WG Web site 
      run: | 
        echo "$SSH_PRIVATE_KEY" > key && chmod 600 key
      env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY_TO_JPFHIR }}
          
    - name: STEP2 = prepare gtz files for upload to remote site
      run: | 
        tar czf fsh-generated.tgz fsh-generated
        mkdir -p forPackageRelease/package
        cp fsh-generated/resources/*.json forPackageRelease/package/
        cp forPackageRelease/package-${{ env.release_version}}-diff.json forPackageRelease/package/package.json
        cd forPackageRelease
        tar czf jp-core.r4-${{ env.release_version}}.tgz package
        cd ..
        rm output/full-ig.zip
        rm output/expansions.json
        rm output/expansions.xml

    - name: STEP3 = Deploy Implementation Guide
      if: success()
      uses: peaceiris/actions-gh-pages@v4
      with:
        personal_token: ${{ secrets.PERSONAL_TOKEN }}
        external_repository: jami-fhir-jp-wg/jp-core-v1xpages
        publish_branch: pages
        publish_dir: ./output
        destination_dir: ./jpcore-r4/${{ steps.extract_branch.outputs.branch }}
        
    - name: STEP4 = generate snapshot package using sushi -s command       
      run: | 
        rm -rf fsh-generated
        sushi -s .
        mv fsh-generated fsh-generated-snap
        mkdir -p forPackageRelease/snapshot/package/
        cp fsh-generated-snap/resources/*.json forPackageRelease/snapshot/package/
        cp forPackageRelease/package-${{ env.release_version}}-snap.json forPackageRelease/snapshot/package/package.json
        cd forPackageRelease/snapshot
        tar czf jp-core.r4-${{ env.release_version}}-snap.tgz package
        cd ../..

    - name: STEP5 = upload gtz files and  to remote site by rsync
      run: | 
        ssh -i key  -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no  -p ${{ secrets.SSH_PORT_JPFHIR }} ${{ secrets.JAMIWG_WEBHOST }}    'rm -rf ${{ secrets.JAMIWG_WEBPATH }}/jpfhir.jp/fhir/core/${{ env.release_version}}'
        ssh -i key  -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no  -p ${{ secrets.SSH_PORT_JPFHIR }} ${{ secrets.JAMIWG_WEBHOST }}    'mkdir -p ${{ secrets.JAMIWG_WEBPATH }}/jpfhir.jp/fhir/core/${{ env.release_version}}; '
        rsync -auzrvl -e "ssh -i key -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no  -p ${{ secrets.SSH_PORT_JPFHIR }}"  output.tgz fsh-generated.tgz forPackageRelease/jp-core.r4-${{ env.release_version}}.tgz forPackageRelease/snapshot/jp-core.r4-${{ env.release_version}}-snap.tgz ${{ secrets.JAMIWG_WEBHOST }}:${{ secrets.JAMIWG_WEBPATH }}/jpfhir.jp/fhir/core/${{ env.release_version}}/
        # index.htmlはdevelopからは修正しない
        rsync -auzrvl -e "ssh -i key -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no  -p ${{ secrets.SSH_PORT_JPFHIR }}"  other/index.html other/assetsOfIndex ${{ secrets.JAMIWG_WEBHOST }}:${{ secrets.JAMIWG_WEBPATH }}/jpfhir.jp/fhir/core/
        ssh -i key  -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no  -p ${{ secrets.SSH_PORT_JPFHIR }} ${{ secrets.JAMIWG_WEBHOST }}   'cd ${{ secrets.JAMIWG_WEBPATH }}/jpfhir.jp/fhir/core/${{ env.release_version}} ; tar xzf output.tgz; mv output/* .; rm -rf output'
      env:
        SSH_PORT: ${{ secrets.SSH_PORT_JPFHIR }}
        JAMIWG_WEBHOST: ${{ secrets.JAMIWG_WEBHOST }}
        JAMIWG_WEBPATH: ${{ secrets.JAMIWG_WEBPATH }}
